:root {
  --main-color-1: #2bae66ff;
  --main-color-2: #fcf6f5ff;
}

body {
  margin: 0;
}
a {
  text-decoration: none;
}
/* responsive nav*/
.nav {
  height: 50px;
  width: 100%;
  background-color: var(--main-color-1);

  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-logo {
  display: inline-block;
  font-size: 22px;
  color: var(--main-color-2);
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: var(--main-color-2);
}

.nav > .nav-links > a:hover {
  background-color: var(--main-color-2);
  color: var(--main-color-1);
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: var(--main-color-1);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(60vh - 100px);
    overflow-y: auto;
  }
}
.nav-links {
  display: inline-block;

  text-decoration: none;
}
.nav-links a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--main-color-1);
  transition: width 0.4s;
}
.nav-links a:hover::after {
  width: 100%;
}
footer {
  bottom: 0;
  background-color: var(--main-color-1);
  margin-top: 20px;
  background-color: var(--main-color-2);

  height: 80px;
  width: 100%;
}

footer div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: large;
  font-weight: 800;
  color: rgb(73, 73, 73);
}
#social a {
  color: var(--main-color-1);
  padding: 6px;
  border-radius: 2px;
}
#social a:hover {
  background-color: var(--main-color-1);
  color: var(--main-color-2);
  transition: 0.7s;
}

@media (max-height: 800px) {
}

@media (min-width: 801px) {
  footer {
    display: grid;
    grid-template-columns: 30% 70%;
  }
}

@media (max-width: 800px) {
  #social {
    margin-top: 3%;
  }
}
