#menu {
  border: 1px solid gray;
  margin-top: 10%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: rgb(233, 233, 125);
}
#menu ul {
  display: flex;
}

#menu li {
  list-style: none;
  margin: 2px 20px;
  background-color: rgb(255, 123, 0);
  color: white;
  border-radius: 10px;
  width: 150px;
  text-transform: uppercase;
  box-shadow: 5px 5px 5px #999;
  text-align: center;
  font-weight: 900;
  transition: 0.5s;
  flex-shrink: 1;
}

#menu li:hover {
  border: 1px solid rgb(255, 123, 0);
  background-color: white;
  color: rgb(255, 123, 0);
  transition: 0.5s;
}
/* styling the anchor tag*/
a {
  text-decoration: none;
  color: inherit;
}
footer {
  margin: 0 auto;
}

@media all and (max-width: 770px) {
  section article {
    grid-template-rows: 60% 40%;
  }
  #menu ul {
    flex-wrap: wrap;
    justify-content: center;
  }
  #menu li {
    padding: 8px 20px;
  }
}

@media all and (min-width: 771px) {
  section article {
    grid-template-columns: 60% 40%;
  }
  #menu li {
    padding: 8px 10px;
  }
}
